body {
	background-color: white;
	color: black;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.bannerHeader {
	background-image: url("./images/christmasStan.png");
	background-size: 350px;
	width: auto;
	height: 350px;
	background-repeat: repeat-x;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.centerTitle {
	color: #FFD700;
	font-size: 100px;
	font-weight: bold;
}

.products {
	margin: 50px 10px 10px 100px;

}

.productThumbNail {
	width: 250px;
	height: 250px;
}

.productName {
	margin: 15px 0px 0px 0px;
}

.productNameButton {
	background-color: white;
	color: black;
	border-radius: 10px;
	padding: 10px;
	font-size: 16px;
	border-width: 0px;
	display: block;
	margin: 10px 0px 0px 0px;
	font-weight: 600;
}

.productImageModal {
	width: 250px;
	height: 250px;
	margin: 10px;
}