body {
	background-color: white;
	color: black;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}


a.textLink:link
{
   color: black;
   text-decoration: none;
}

a.textLink:visited
{
   color: black;
   text-decoration: none;
}

a.textLink:hover
{
   color: black;
   text-decoration: none;
}

a.textLink:active
{
   color: black;
   text-decoration: none;
}

.bannerHeader {
	background-image: url("./images/christmasStan.png");
	background-size: 350px;
	width: auto;
	height: 350px;
	background-repeat: repeat-x;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.centerTitle {
	color: #FFD700;
	font-size: 100px;
	font-weight: bold;
}

.products {
	margin: 50px 10px 10px 25px;
}

.productThumbNail {
	width: 250px;
	height: 250px;
}

.productName {
	margin: 10px 0px 10px 0px;
	text-align: left;
	padding: 0px 0px 0px 10px;
}

.productNameButton {
	background-color: #D3D3D3;
	color: black;
	border-radius: 10px;
	padding: 0px;
	font-size: 16px;	
	border-width: 0px;
	display: block;
	margin: 10px 0px 0px 25px;
	font-weight: 600;
}

.productImageModal {
	width: 250px;
	height: 250px;
	margin: 10px;
}

.genericSpace {
	margin: 10px;
}

.imageSmall {
	width: 25px;
	height: 25px;
}

.nav-bar {
	background-color: black;
	color: white;
	font-size: 24px;
	padding: 10px 75px 10px 75px;
	text-align: right;
	margin: 0px 0px 0px 0px;
}

.nav-text {
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
}

.nav-text:link {
	text-decoration: none;
	color: white;
}

.nav-text:visited
{
   color: white;
   text-decoration: none;
}

.nav-text:hover
{
   color: black;
   text-decoration: none;
   background-color: #FFD700;
}

.nav-text:active
{
   color: white;
   text-decoration: none;
}